.container {
  margin: 30px auto;
  width: 350px;
}
body{
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.inc-cont{
  border: 1px solid black;
  width: 200px;
  display: inline-flex;
  justify-content: space-around;
}
.inc-cont>div{
  flex:1;
  text-align: center;
}

.inc {
    border-right: 1px solid;
}
li {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 7px;
  margin: 10px 0;
  background-color: #f6efef;
  box-shadow: var(--box-shadow);
}
ul{
  margin-bottom: 20px;
  padding:0;
}
h3 {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
h5 {
  display: flex;
  margin-bottom: 11px;
}
button.btn {
  margin: 15px;
  width: 100%;
  height: 28px;
  background-color: aliceblue;
}
input[type='text'],
input[type='number'] {
  
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}